<h2 mat-dialog-title class="align-item">Add Book</h2>

<mat-dialog-content class="content">

    <form [formGroup]="bookForm">
        <input type="file" name="file" id="file" class="upload-file-margin" (change)="getImageUrl($event)">
        <img *ngIf="imageUrl" [src]="imageUrl" style="width: 100px; height: 100px;">
        <mat-form-field>
            <mat-label for="title">Title</mat-label>
            <input matInput formControlName="title" id="title" [readonly]="!isAdd">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Purchase Link</mat-label>
            <input matInput formControlName="purchaseLink">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Publish Year</mat-label>
            <input matInput formControlName="PublishDate" maxlength="4" minlength="4" pattern="^[1-9][0-9]*$">
        </mat-form-field>
    </form>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="this.bookForm.invalid">Save</button>
</mat-dialog-actions>